<div class="container">
  <h2>Pilates Reformer</h2>
  <p>
    Clases personalizadas enfocadas en fortalecimiento, flexibilidad, control postural y bienestar.
  </p>

  <ul>
    <li>Grupos reducidos</li>
    <li>Abonos mensuales</li>
    <li>Duracion de la clase: 50 min</li>
  </ul>

  <p>Horarios:</p>
  <ul>
    <li>Lunes a Viernes de 8 a 12 y 17 a 20 HS</li>
    <li>Sábados: 9 a 11 HS</li>
  </ul>

  <div class="ancla-wpp-pilates">
    <a class="btn btn-primary"
        href="https://wa.me/5491172388227?text=Hola%20quiero%20consultar%20por%20Pilates"
        target="_blank">
        Consultar por Pilates
    </a>
  </div>

</div>
