<div class="container">

  <header class="section-header">
    <h2>Nuestros profesionales</h2>
    <p>Atención profesional y personalizada.</p>
  </header>

  <div class="equipo-grid-fixed">

    <!-- Profesional 1 -->
    <article class="pro-card">
      <div class="pro-avatar">
        <img src="assets/profesionales/juli.png" alt="Nombre Apellido">
      </div>

      <h3 class="pro-nombre">Della Penna <br>Julieta</h3>
      <div class="pro-rol">Licenciada en Kinesiología y Fisiatría</div>

      <div class="pro-matriculas">
        <span class="matricula">M.P. 10760</span>
        <span class="matricula">M.N. 19141</span>
      </div>
    </article>

    <!-- Profesional 2 -->
    <article class="pro-card">
      <div class="pro-avatar">
        <img src="assets/profesionales/joni.png" alt="Nombre Apellido">
      </div>

      <h3 class="pro-nombre">Epulef Durán <br>Jonathan</h3>
      <div class="pro-rol">Licenciado en Kinesiología y Fisiatría</div>

      <div class="pro-matriculas">
        <span class="matricula">M.P. 10884</span>
        <span class="matricula">M.N. 16766</span>
      </div>
    </article>

  </div>

</div>