<div class="container">
  <header class="section-header">
    <h2>Nuestros Servicios</h2>
    <p>Tratamientos personalizados para tu recuperación y bienestar.</p>
  </header>

  <div class="services-icons-grid">
    <a class="service-icon-card" href="#" data-service="kinesiologia-integral">
      <div class="service-icon-bubble">
        <img src="../assets/servicios/iconos/kinesiologia-integral.png" alt="Kinesiología Integral" class="service-icon-img"/>
      </div>
      <div class="service-icon-name">Kinesiología Integral</div>
    </a>

    <a class="service-icon-card" href="#" data-service="kinesiologia-deportiva">
      <div class="service-icon-bubble">
        <img src="../assets/servicios/iconos/kinesiologia-deportiva.png" alt="Kinesiología Deportiva" class="service-icon-img"/>
      </div>
      <div class="service-icon-name">Kinesiología Deportiva</div>
    </a>

    <a class="service-icon-card" href="#" data-service="rpg">
      <div class="service-icon-bubble">
        <img src="../assets/servicios/iconos/rpg.png" alt="RPG" class="service-icon-img"/>
      </div>
      <div class="service-icon-name">RPG (Reeducación postural global)</div>
    </a>

    <a class="service-icon-card" href="#" data-service="terapia-manual">
      <div class="service-icon-bubble">
        <img src="../assets/servicios/iconos/terapia-manual.png" alt="Terapia manual" class="service-icon-img"/>
      </div>
      <div class="service-icon-name">Terapia Manual</div>
    </a>

    <a class="service-icon-card" href="#" data-service="atm">
      <div class="service-icon-bubble">
        <img src="../assets/servicios/iconos/atm.png" alt="ATM" class="service-icon-img"/>
      </div>
      <div class="service-icon-name">ATM</div>
    </a>

    <a class="service-icon-card" href="#" data-service="suelo-pelvico">
      <div class="service-icon-bubble">
        <img src="../assets/servicios/iconos/suelo-pelvico.png" alt="Suelo pélvico" class="service-icon-img"/>
      </div>
      <div class="service-icon-name">Rehabilitación de Suelo pélvico</div>
    </a>

    <a class="service-icon-card" href="#" data-service="drenaje-linfatico">
      <div class="service-icon-bubble">
        <img src="../assets/servicios/iconos/drenaje-linfatico.png" alt="Drenaje linfático" class="service-icon-img"/>
      </div>
      <div class="service-icon-name">Drenaje Linfático</div>
    </a>

    <a class="service-icon-card" href="#" data-service="rehabilitacion-vestibular">
      <div class="service-icon-bubble">
        <img src="../assets/servicios/iconos/vestibular.png" alt="Rehabilitación vestibular" class="service-icon-img"/>
      </div>
      <div class="service-icon-name">Rehabilitación Vestibular</div>
    </a>

    <a class="service-icon-card" href="#" data-service="osteopatia">
      <div class="service-icon-bubble">
        <img src="../assets/servicios/iconos/osteopatia.png" alt="Osteopatía" class="service-icon-img"/>
      </div>
      <div class="service-icon-name">Osteopatía</div>
    </a>

    <a class="service-icon-card" href="#" data-service="nutricion">
      <div class="service-icon-bubble">
        <img src="../assets/servicios/iconos/nutricion.png" alt="Nutrición" class="service-icon-img"/>
      </div>
      <div class="service-icon-name">Nutrición (Particular)</div>
    </a>

    <a class="service-icon-card" href="#" data-service="gastroenterologia">
      <div class="service-icon-bubble">
        <img src="../assets/servicios/iconos/gastroenterologia.png" alt="Gastroenterología" class="service-icon-img"/>
      </div>
      <div class="service-icon-name">Gastroenterología (Particular)</div>
    </a>

    <a class="service-icon-card" href="#" data-service="diabetologia">
      <div class="service-icon-bubble">
        <img src="../assets/servicios/iconos/diabetologia.png" alt="Diabetología" class="service-icon-img"/>
      </div>
      <div class="service-icon-name">Diabetología (Particular)</div>
    </a>
  </div>
</div>
