<div class="container">
  <header class="section-header">
    <h2>Ubicación</h2>
    <p>Te esperamos en un espacio cómodo y accesible.</p>
  </header>

  <div class="ubicacion-grid">
    <div class="ubicacion-card">
        <div class="ubicacion-columnas">
            <div class="unicacion-columnas-texto">
                <div class="ubi-row">
                    <div class="ubi-icon"><i class="fa-solid fa-location-dot"></i></div>
                    <div>
                    <div class="ubi-label">Dirección</div>
                    <div class="ubi-value">Arenales 1823, Vicente López</div>
                    </div>
                </div>

                <div class="ubi-row">
                    <div class="ubi-icon"><i class="fa-regular fa-clock"></i></div>
                    <div>
                    <div class="ubi-label">Horarios</div>
                    <div class="ubi-value">Kinesiología <br>• Lun a Vie 8:00–20:00 <br>Pilates <br>• Lun a Vie 8:00–20:00 <br> Sáb 9:00–11:00</div>
                    </div>
                </div>

                <div class="ubi-row">
                    <div class="ubi-icon"><i class="fa-solid fa-square-parking"></i></div>
                    <div>
                    <div class="ubi-label">Acceso</div>
                    <div class="ubi-value">A 3 cuadras de Av. Maipu y 1 cuadra de Gral. Jose de San Martin</div>
                    </div>
                </div>
            </div>

            <div class="map-wrap" aria-label="Mapa">
            <iframe
                class="map-iframe"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.124366484154!2d-58.491334823533954!3d-34.52507695335046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb1cc3a7b96ad%3A0x7d43e7ea9d567825!2sDelta%20Kinesiolog%C3%ADa%20%26%20Pilates!5e0!3m2!1ses!2sar!4v1769633959061!5m2!1ses!2sar">
            </iframe>
            </div>
        </div>

      <div class="ubi-actions">
        <a class="btn btn-ghost" href="https://www.google.com/maps/dir/?api=1&destination=-34.52507573440171,-58.48876218356998" target="_blank" rel="noopener">
          Cómo llegar
        </a>
      </div>

      <div class="ubi-note">
        <span class="dot"></span>
        <span>Atención con turno previo</span>
      </div>


    </div>

  </div>
</div>